* {
 background-color: antiquewhite;    
}

.high-scores{
    text-align: center;
    text-decoration: none;
    font-size: x-large;
}

.main{
    text-align: center;
    text-decoration: none;
}

.timer{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 20px;
}

.qDiv{
    font-size: x-large;
}

#choiceUl{
margin-top: 75px;
text-align: center;
}

.homePage{
    text-align: center;
    margin-top: 75px;
}

.high{
    text-align: center;
}

p{ 
    font-size: larger;
}

#begin, #again, #clear{
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;

}